section {
  color: #4d4f62;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
}

h1 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.0167rem;
}
h1 span {
  font-weight: 300;
  display: block;
  margin-bottom: 0.1rem;
}
.description {
  width: 32ch;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.0104rem;
  opacity: 0.5;
}

@media only screen and (min-width: 999px) {
  .description {
    width: 59ch;
  }
}
