main {
  margin: 7.8rem 0 7.8rem 0;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}
.couple-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@media only screen and (min-width: 999px) {
  main {
    flex-direction: row;
  }
}
